@media only screen and (max-width:700px) {

    .first-card {
        height: 70vh;
        position: relative;
     }
     .circal {
         /* border: 4px solid green; */
         width: 140%;
         height: 120%;
         border-radius: 50%;
         top: -100px;
         left: -100px;
         position: absolute;
         background-image: url('i-one/demo-pizza-parlor-slider-10.jpg');
         background-size: cover;
         background-repeat: no-repeat;
     }


     /*    con--2    */

     .icon-sec {
        border-right: none;
    }

    /*   con--3  */

    .third-right h4 {
        font-family: system-ui; 
        font-size: 20px;
    }
    .third-right h1 {
        font-family: system-ui; 
        font-size: 30px;
        font-weight: 900px;
    }
    .third-right p {
        font-family: system-ui;
        font-size: 15px; 
    }
    .btn {
        display: inline-block;
        padding: 10px 10px;
        font-size: 14px;
        font-weight: 500;

       }
       .btcc {
        font-size: 17px;
        padding: 0px 10px;
        border-radius: 6px;
        background: none;
        border: none;
        font-weight: bolder;
    
       }

       .i-ttx h1 {
        font-size: 23px;
    }
    .i-ttx p {
        font-size: 14px;
    }

    .i-ssp {
        width: 80px;
        height: 80px;
        font-size: 32px;
       
    }.four-one h1 {
        font-size: 40px;
    }


    .offer {
        /* border: 4px solid blue; */
        width: 120px;
        height: 120px;
        position: absolute;
        right: 14px;
        top: 26%;
        z-index: 111;
        animation-name: round;
        animation-duration: 20s;
        animation-iteration-count: infinite;
    }

    .off-ttx {
        position: absolute;
        right: 44px;
        top: 42%;
        z-index: 111;
        font-size: 16px;
        font-weight: bold;
    }

    .offer-2 {
        /* border: 4px solid blue; */
        width: 120px;
        height: 120px;
        position: absolute;
        right: 2px;
        top: 49%;
        z-index: 11;
        rotate: 14deg;
    }
     
    .order {
        width: 120px;
        height: 120px;
        /* border: 4px solid green; */
        border-radius: 50%;
        position: absolute;
        background: white;
        z-index: 1111;
        left: 38%;
        bottom: -40px;
    }
    .order h1 {
        font-size: 20px;
        font-weight: bolder;
        text-align: center;
        font-family: system-ui;
    }
    .order-box {
        width: 170px;
        height: 170px;
        /* border: 4px solid green; */
        border-radius: 50%;
        position: absolute;
        background: rgba(241, 142, 13, 0.794);
        left: 656px;
        bottom: -50px;
    }

    .first-card {
        width: 100%;
        height: 60vh;
        position: relative;
        overflow: hidden;
    }
    .i-box-2 {
        z-index: 111111;
        position: absolute;
        top: 18%;
        left: 0%;
        width: 100%;
    }
    
.sec-ttx {
    font-size: 30px;
}

.third-left {
    height: 40vh;
}
.four-end {
    height: 140px;
    font-size: 20px;
}
.four-main-con {
    height: 130vh;
 }
 .ff-icon h1 {
    font-size: 10px;
}

.five-card h1 {
    font-size: 14px;
}
.five-card h2 {
    font-size: 19px;
}
.five-card p {
    font-size: 14px;
}
.must {
    padding: 4px 10px;
    font-size: 10px;
    box-shadow: 0px 1px 1px black;
    border-radius: 10px;
    background-color: whitesmoke;
    justify-content: space-between;
}
.five-img {
    width: 80px;
    height: 80px;
    /* border: 4px solid green; */

}

 .four-one span {
     width: 100px;
     height: auto;
     border-right: 2px solid red;
 }
 .four-one h1 {
     font-size: 30px;
 }
 .four-one p {
     font-size: 13px;
     color: red;
 }

 .sev-ibox i {
    font-size: 27px;
}

.sev-ttx h4 {
   font-size: 14px; 
}

.eight-ttx p {
    font-weight: 600;
    font-size: 16px;
    color: red;
}
.eight-ttx h1 {
    font-weight: bold;
    font-size: 25px;
    color: black;
}
.eight-ttx button {
    padding: 8px 16px;
    font-weight: 500;
    font-size: 13px;
    border-radius: 9px;
    border: none;
}

.last-ff span {
    color: white;
    margin-left: 90px;
    font-size: 14px;
}

.footer-con  {
    background-color: rgb(63, 63, 63);
}

.ani-box {
    z-index: 1;
    position: absolute;
    bottom: -0%;
    left: 8%;
    width: 80%;
    height: 50%;
}


.btn-53 {
  
    font-size: 100%;
    line-height: 1.5;
   padding: 10px 20px;
  }
  

}
